[MASTER]
persistent=no

[MESSAGES CONTROL]
disable=C0111

[REPORTS]
output-format=parseable
include-ids=yes
reports=no
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)

[TYPECHECK]
generated-members=objects,all,count,DoesNotExist
