{% extends "base.html" %}

{% block title %}Password Reset &#xb7; {{ site.name }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url index %}">Home</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url password_reset %}">Password Reset</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            <a href="#">Sent</a>
        </li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>Password Reset</h1>
    </div>
{% endblock %}

{% block content %}
    <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly.</p>
{% endblock %}
