{% extends "base.html" %}

{% block title %}Password Reset &#xb7; {{ site.name }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url index %}">Home</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            <a href="{% url password_reset %}">Password Reset</a>
        </li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>Password Reset</h1>
    </div>
{% endblock %}

{% block content %}
    <p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>

    <form class="form-horizontal" method="post">
        {% csrf_token %}

        <div class="control-group {% if form.email.errors %}error{% endif %}">
            <label class="control-label" for="{{ form.email.html_name }}">{{ form.email.label }}</label>
            <div class="controls">
                <input autofocus id="{{ form.email.html_name }}" name="{{ form.email.html_name }}" type="email">
                <span class="help-inline">
                    {% for error in form.email.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </span>
            </div>
        </div>

        <div class="form-actions">
            <input class="btn" type="submit" value="Reset Password">
        </div>
    </form>
{% endblock content %}
