1-cao-cao-lord-of-wei.jpg
2-captain-sisay.jpg
3-doran-the-siege-tower.jpg
4-kiki-jiki-mirror-breaker.jpg
5-kresh-the-bloodbraided.jpg
6-mikaeus-the-lunarch.jpg
7-omnath-locus-of-mana.jpg
8-oona-queen-of-the-fae.jpg
9-progenitus.jpg
10-rafiq-of-the-many.jpg
11-sharuum-the-hegemon.jpg
12-sun-quan-lord-of-wu.jpg
13-teferi-mage-of-zhalfir.jpg
14-ulamog-the-infinite-gyre.jpg
15-visara-the-dreadful.jpg
