.navbar-fixed-top .navbar-inner {
    padding: 5px;
}
#user-button {
    margin-left: 18px;
}
.footer {
    border-top: 1px solid #e5e5e5;
    margin-top: 45px;
    padding: 35px 0 36px;
}

.card {
    border-radius: 3px;
    margin-bottom: 18px;
}
.card.colorless         { background: transparent; }
.card.monocolored.white { background: #fffbd5; }
.card.monocolored.blue  { background: #aae0fa; }
.card.monocolored.black { background: #cbc2bf; }
.card.monocolored.red   { background: #f9aa8f; }
.card.monocolored.green { background: #9bd3ae; }
.card.multicolored      { background: #eee; }
.card .link {
    color: inherit;
    display: block;
    padding: 9px;
    text-decoration: none;
}
.card .name {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card .type {
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card .rules_text {
    height: 36px;
    overflow: hidden;
    white-space: pre-wrap;
}

@media (min-width: 980px) {
    body {
        padding-top: 60px;
    }
}
