/* User dropdown */
#user .dropdown-menu-no-collapse {
    left: auto;
    right: 0;
}
#user .dropdown-menu-no-collapse:before {
    left: auto;
    right: 12px;
}
#user .dropdown-menu-no-collapse:after {
    left: auto;
    right: 13px;
}

.card-image {
    display: block;
    max-width: 100%;
}

/* Card listing */
.card {
    background-color: #eeeeee;
    border-radius: 3px;
    color: inherit;
    display: block;
    margin-bottom: 18px;
    padding: 9px;
}
.card:hover {
    color: inherit;
    text-decoration: none;
}
.card .name {
    font-weight: bold;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card .power-toughness .divider,
.card .hand-modifier-life-modifier .divider {
    margin: 0 0.25em;
}
.card .power-toughness {
}
.card .power {
}
.card .toughness {
}
.card .loyalty {
}
.card .hand-modifier-life-modifier {
}
.card .hand-modifier {
}
.card .life-modifier {
}
.card .type {
    font-style: italic;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card .rules-text {
    height: 36px;
    overflow: hidden;
    white-space: pre-wrap;
}

/* Mana costs and symbol */
.mana-cost {
}
.mana-symbol {
    background: #eeeeee;
    border-radius: 9px;
    box-shadow: 1px 1px 0 #999999;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    width: 18px;
}
.mana-symbol sup {
}
.mana-symbol .divider {
    margin: 0 -2px;
}
.mana-symbol sub {
}

/* Color badges */
.badge.white, .badge.blue, .badge.black, .badge.red, .badge.green {
    color: inherit;
    cursor: default;
    text-shadow: none;
}

/* Colors */
.white { background-color: #fffbd5; }
.blue  { background-color: #aae0fa; }
.black { background-color: #cbc2bf; }
.red   { background-color: #f9aa8f; }
.green { background-color: #9bd3ae; }
.white.blue, .white.black, .white.red, .white.green, .blue.black,
.blue.red, .blue.green, .black.red, .black.green, .red.green {
    background-color: #ffec80;
}

/* Rarity badges */
.badge.c, .badge.l, .badge.m, .badge.p, .badge.r, .badge.s, .badge.u {
    cursor: default;
}

/* Rarities */
.c, .l, .p {
    background-color: #231f20;
}
.m {
    background-color: #be3526;
}
.r {
    background-color: #8e753f;
}
.s {
    background-color: #612a74;
}
.u {
    background-color: #567280;
}

/* Footer */
.footer {
    border-top: 1px solid #e5e5e5;
    margin-top: 45px;
    padding: 35px 0 36px;
}
.footer p {
    margin-bottom: 0;
}

/* Media queries */
@media (max-width: 767px) {
    .pagination li {
        display: none;
    }
    .pagination .previous, .pagination .active, .pagination .next {
        display: inline;
    }
}
@media (min-width: 980px) {
    body {
        padding-top: 60px;
    }
}
