/*
    Card
*/
.card {
    background-color: #eeeeee;
    border-radius: 3px;
    color: inherit;
    display: block;
    margin-bottom: 18px;
    padding: 9px;
    text-decoration: none;
}
.card:hover {
    color: inherit;
    text-decoration: none;
}
.card .mana-cost .mana-symbol {
    box-shadow: 1px 1px 0 #aaaaaa;
    display: inline-block;
    margin-bottom: -2px;
    padding: 0;
    text-align: center;
    width: 18px;
}
.card .mana-cost .divider {
    margin: 0 -2px;
}
.card .name {
    font-weight: bold;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card .power-toughness .divider,
.card .hand-modifier-life-modifier .divider {
    margin: 0 0.25em;
}
.card .type {
    font-style: italic;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card .rules-text,
.card .flavor-text {
    height: 36px;
    overflow-y: hidden;
    white-space: pre-wrap;
}
.card .flavor-text {
    font-style: italic;
}
.card-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

/*
    Colors
*/
.badge-color {
    color: inherit;
}
.badge-color:hover {
    color: inherit;
    cursor: inherit;
}
.color-w { background-color: #fffbd5; }
.color-u { background-color: #aae0fa; }
.color-b { background-color: #cbc2bf; }
.color-r { background-color: #f9aa8f; }
.color-g { background-color: #9bd3ae; }
.color-w.color-u,
.color-w.color-b,
.color-w.color-r,
.color-w.color-g,
.color-u.color-b,
.color-u.color-r,
.color-u.color-g,
.color-b.color-r,
.color-b.color-g,
.color-r.color-g {
    background-color: #ffec80;
}
.card-image {
    display: block;
    max-width: 100%;
}

/*
    Rarities
*/
.badge-rarity:hover {
    cursor: inherit;
}
.rarity-l,
.rarity-c,
.rarity-p { background-color: #231f20; }
.rarity-u { background-color: #86a4b3; }
.rarity-r { background-color: #b39959; }
.rarity-m { background-color: #db662c; }
.rarity-s { background-color: #925799; }

/*
    Footer
*/
.footer {
    border-top: 1px solid #e5e5e5;
    margin-top: 45px;
    padding: 35px 0 36px;
}
.footer p {
    margin-bottom: 0;
}

/*
    Responsive layout
*/
@media (max-width: 767px) {
    .pagination li {
        display: none;
    }
    .pagination .previous, .pagination .active, .pagination .next {
        display: inline;
    }
}
@media (min-width: 980px) {
    body {
        padding-top: 60px;
    }
}
