{% extends "base.html" %}

{% block title %}Log In &#xb7; {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>Log In</h1>
    </div>
{% endblock %}

{% block content %}
    {% if form.non_field_errors %}
        <div class="alert alert-block">
            <a class="close" data-dismiss="alert">×</a>
            <h4 class="alert-heading">Error</h4>
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ next }}">

        <div class="control-group {% if form.username.errors %}error{% endif %}">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input autocapitalize="off" autocorrect="off" {% if not form.username.value %}autofocus{% endif %} name="username" id="username" tabindex="1" type="text" value="{{ form.username.value|default_if_none:"" }}">
                <span class="help-inline">
                    {% for error in form.username.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </span>
                <p class="help-block">
                    <a href="{% url registration_register %}">Don't have an account?</a>
                </p>
            </div>
        </div>

        <div class="control-group {% if form.password.errors %}error{% endif %}">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input {% if form.username.value %}autofocus{% endif %} name="password" id="password" tabindex="2" type="password">
                <span class="help-inline">
                    {% for error in form.password.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </span>
                <p class="help-block">
                    <a href="{% url auth_password_reset %}">Forgot your password?</a>
                </p>
            </div>
        </div>

        <div class="form-actions">
            <input class="btn" type="submit" value="Log In">
        </div>
    </form>
{% endblock %}
