{% extends "base.html" %}

{% block title %}Password Reset &#xb7; {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>Password Reset</h1>
    </div>
{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

        <form class="form-horizontal" method="post">
            {% csrf_token %}

            {% for field in form.visible_fields %}
                <div class="control-group {% if field.errors %}error{% endif %}">
                    <label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
                    <div class="controls">
                        <input {% if forloop.first %}autofocus{% endif %} id="{{ field.html_name }}" name="{{ field.html_name }}" type="password">
                        <span class="help-inline">
                            {% for error in field.errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        </span>
                    </div>
                </div>
            {% endfor %}

            <div class="form-actions">
                <input class="btn" type="submit" value="Change Password">
            </div>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}
