{% extends "base.html" %}

{% block title %}Cards &#xb7; {{ site.name }}{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>Cards</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        {% for card in object_list %}
            <div class="span3">
                <div class="card {{ card.color }}">
                    <a class="link" href="{{ card.get_absolute_url }}">
                        <div class="mana_cost pull-right">
                            {% for mana_cost in card.mana_cost.all %}
                                {% for mana_symbol in mana_cost.mana_symbols %}
                                    <span class="mana_symbol">{{ mana_symbol|upper }}</span>
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <div class="name">{{ card|title }}</div>
                        <div class="pull-right">
                            {% if card.power and card.toughness %}
                                <span class="power-toughness">
                                    <span class="power">{{ card.power }}</span>
                                    <span>/</span>
                                    <span class="toughness">{{ card.toughness }}</span>
                                </span>
                            {% endif %}
                            {% if card.loyalty %}
                                <span class="loyalty">{{ card.loyalty }}</span>
                            {% endif %}
                            {% if card.hand_modifier and card.life_modifier %}
                                <span class="hand-modifier-life-modifier">
                                    <span class="hand-modifier">{{ card.hand_modifier }}</span>
                                    <span>/</span>
                                    <span class="life-modifier">{{ card.life_modifier }}</span>
                                </span>
                            {% endif %}
                        </div>
                        <div class="type">{{ card.type|title }}</div>
                        <div class="rules_text">{{ card.rules_text }}</div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if is_paginated %}
        {% load paginator from paginator %}
        {% paginator %}
    {% endif %}
{% endblock %}
