{% extends "base.html" %}

{% block content %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url index %}">Home</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url card_list %}">Cards</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            <a href="{% url card_detail card.slug %}">{{ card|title }}</a>
        </li>
    </ul>

    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>

    <dl>
        <dt>Mana cost</dt>
        <dd>{{ card.mana_cost|upper }}</dd>

        <dt>Converted mana cost</dt>
        <dd>{{ card.converted_mana_cost }}</dd>

        {% if card.colors.all %}
            <dt>Color{{ card.colors.all|pluralize }}</dt>
            <dd>{{ card.colors.all|join:", " }}</dd>
        {% endif %}

        <dt>Type</dt>
        <dd>{{ card.type|title }}</dd>

        <dt>Rules text</dt>
        <dd style="white-space:pre-wrap">{{ card.rules_text }}</dd>

        {% if card.power and card.toughness %}
            <dt>Power</dt>
            <dd>{{ card.power }}</dd>

            <dt>Converted power</dt>
            <dd>{{ card.converted_power }}</dd>

            <dt>Toughness</dt>
            <dd>{{ card.toughness }}</dd>

            <dt>Converted toughness</dt>
            <dd>{{ card.converted_toughness }}</dd>
        {% endif %}

        {% if card.loyalty %}
            <dt>Loyalty</dt>
            <dd>{{ card.loyalty }}</dd>
        {% endif %}

        {% if card.hand_modifier and card.life_modifier %}
            <dt>Hand modifier</dt>
            <dd>{{ card.hand_modifier }}</dd>

            <dt>Life modifier</dt>
            <dd>{{ card.life_modifier }}</dd>
        {% endif %}

        <dt>Printings</dt>
        <dd>
            <ul>
                {% for printing in card.printing_set.all %}
                    <li>{{ printing|title }}</li>
                {% endfor %}
            </ul>
        </dd>
    </dl>
{% endblock %}
