{% extends "base.html" %}

{% block title %}Cards &#xb7; {{ site.name }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url index %}">Home</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            <a href="{% url card_list %}">Cards</a>
        </li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>Cards</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        {% for card in object_list %}
            <div class="span3">
                <div class="card {{ card.color }}">
                    <a class="link" href="{{ card.get_absolute_url }}">
                        <div class="mana_cost pull-right">{{ card.mana_cost|upper }}</div>
                        <div class="name">{{ card|title }}</div>
                        <div class="type">{{ card.type|title }}</div>
                        <div class="rules_text">{{ card.rules_text }}</div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if is_paginated %}
        {% load paginator from paginator %}
        {% paginator %}
    {% endif %}
{% endblock %}
