{% extends "base.html" %}

{% block title %}{{ card|title }} &#xb7; {{ site.name }}{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>{{ card|title }}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span4">
            <img alt="" class="card-image" src="{{ STATIC_URL }}img/cards/{{ card.printing_set.all.0.set.slug }}/{{ card.printing_set.all.0.number }}-{{ card.slug }}.jpg">
        </div>

        <div class="span4">
            <div class="card {% for color in card.colors.all %} {{ color }} {% endfor %}">
                {# Mana cost #}
                <div class="mana-cost pull-right">
                    {% for mana_symbol in card.mana_symbols %}
                        <span class="mana-symbol {% for color in mana_symbol.colors.all %} {{ color }} {% endfor %}">
                            {% if mana_symbol.name|length == 1 %}
                                <span>{{ mana_symbol|upper }}</span>
                            {% else %}
                                <sup>{{ mana_symbol.name.0|upper }}</sup>
                                <span class="divider">/</span>
                                <sub>{{ mana_symbol.name.2|upper }}</sub>
                            {% endif %}
                        </span>
                    {% endfor %}
                </div>

                {# Name #}
                <div class="name">{{ card|title }}</div>

                {# Power, toughness, loyalty, hand-, and life-modifiers #}
                {% if card.power and card.toughness %}
                    <div class="power-toughness pull-right">
                        <span class="power">{{ card.power }}</span>
                        <span class="divider">/</span>
                        <span class="toughness">{{ card.toughness }}</span>
                    </div>
                {% endif %}
                {% if card.loyalty %}
                    <div class="loyalty pull-right">{{ card.loyalty }}</div>
                {% endif %}
                {% if card.hand_modifier and card.life_modifier %}
                    <div class="hand-modifier-life-modifier pull-right">
                        <span class="hand-modifier">{{ card.hand_modifier }}</span>
                        <span class="divider">/</span>
                        <span class="life-modifier">{{ card.life_modifier }}</span>
                    </div>
                {% endif %}

                {# Type #}
                <div class="type">{{ card.type|title }}</div>

                {# Rules text #}
                <div class="rules-text" style="height: auto;">{{ card.rules_text }}</div>
            </div>
        </div>

        <div class="span4">
            <ul>
                {% for printing in card.printing_set.all %}
                    <li>#{{ printing.number }} {{ printing.set.name|title }} {{ printing.rarity.name|title }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
