{% extends "base.html" %}

{% load title from magic_extras %}

{% block title %}Decks &#xb7; {{ site.name }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url index %}">Home</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url deck_list %}">Decks</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            <a href="{{ deck.get_absolute_url }}">{{ deck }}</a>
        </li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>{{ deck }}</h1>
    </div>
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Card</th>
                <th>Sideboard</th>
            </tr>
        </thead>

        <tbody>
            {% for deck_card in deck.deckcard_set.all %}
                <tr>
                    <td>{{ deck_card.number }}</td>
                    <td>{{ deck_card.card|title }}</td>
                    <td>
                        {% if deck_card.sideboard %}
                            <i class="icon-ok"></i>
                        {% else %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
