{% extends "base.html" %}

{% block title %}{{ printing.card.name|title }} &#xb7; {{ site.name }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url index %}">Home</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url set_list %}">Sets</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ printing.set.get_absolute_url }}">{{ printing.set.name|title }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            <a href="{{ printing.get_absolute_url }}">{{ printing.card.name|title }}</a>
        </li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>{{ printing.card.name|title }} <small>{{ printing.set.name|title }}</small></h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span4">
            <img alt="" class="card-image" src="{{ printing.image }}">
        </div>

        <div class="span4 offset">
            <a class="card {% for color in printing.card.colors.all %} color-{{ color.slug }} {% endfor %}" href="{{ printing.card.get_absolute_url }}">
                {# Mana cost #}
                <div class="mana-cost pull-right">
                    {% for mana_symbol in printing.card.mana_symbols %}
                        <span class="badge badge-color mana-symbol {% for color in mana_symbol.colors.all %} color-{{ color.slug }} {% endfor %}">
                            {% if mana_symbol.name|length == 1 %}
                                <span>{{ mana_symbol|upper }}</span>
                            {% else %}
                                <sup>{{ mana_symbol.name.0|upper }}</sup>
                                <span class="divider">/</span>
                                <sub>{{ mana_symbol.name.2|upper }}</sub>
                            {% endif %}
                        </span>
                    {% endfor %}
                </div>

                {# Name #}
                <div class="name">{{ printing.card|title }}</div>

                {# Power, toughness, loyalty, hand-, and life-modifiers #}
                {% if printing.card.power and printing.card.toughness %}
                    <div class="power-toughness pull-right">
                        <span class="power">{{ printing.card.power }}</span>
                        <span class="divider">/</span>
                        <span class="toughness">{{ printing.card.toughness }}</span>
                    </div>
                {% endif %}
                {% if printing.card.loyalty %}
                    <div class="loyalty pull-right">{{ printing.card.loyalty }}</div>
                {% endif %}
                {% if printing.card.hand_modifier and printing.card.life_modifier %}
                    <div class="hand-modifier-life-modifier pull-right">
                        <span class="hand-modifier">{{ printing.card.hand_modifier }}</span>
                        <span class="divider">/</span>
                        <span class="life-modifier">{{ printing.card.life_modifier }}</span>
                    </div>
                {% endif %}

                {# Type #}
                <div class="type">{{ printing.card.type|title }}</div>

                {# Rules text #}
                <div class="rules-text" style="height: auto;">{{ printing.card.rules_text }}</div>
            </a>
        </div>

        <div class="span4">
            <ul>
                {% for printing_ in printing.card.printing_set.all %}
                    {% if printing_ != printing %}
                    <li>
                        <a href="{{ printing_.get_absolute_url }}">#{{ printing_.number }} {{ printing_.set.name|title }} {{ printing_.rarity.name|title }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    {% if previous_printing or next_printing %}
        <ul class="pager">
            {% if previous_printing %}
                <li class="previous">
                    <a href="{{ previous_printing.get_absolute_url }}">&#x2190; {{ previous_printing.card.name|title }}</a>
                </li>
            {% endif %}

            {% if next_printing %}
                <li class="next">
                    <a href="{{ next_printing.get_absolute_url }}">{{ next_printing.card.name|title }} &#x2192;</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
