{% extends "base.html" %}

{% block title %}{{ printing.card|title }} &#xb7; {{ site.name }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url index %}">Home</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url set_list %}">Sets</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ printing.set.get_absolute_url }}">{{ printing.set|title }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            <a href="{{ printing.get_absolute_url }}">#{{ printing.number }} {{ printing.card|title }}</a>
        </li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>{{ printing.card|title }} <small>{{ printing.set|title }}</small></h1>
    </div>
{% endblock %}

{% block content %}
{% endblock %}
