{% extends "base.html" %}

{% block title %}Profile &#xb7; {{ site.name }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url index %}">Home</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            <a href="{% url profile %}">Profile</a>
        </li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>Profile</h1>
    </div>
{% endblock %}

{% block content %}
    <p>Logged in as {{ user.username }}.</p>

    <p>
        <a class="btn" href="{% url auth_logout %}">Log Out</a>
        <a class="btn" href="{% url auth_password_change %}">Change Password</a>
    </p>
{% endblock %}
