{% extends "base.html" %}

{% block title %}Account &#xb7; {{ site.name }}{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>Account <small>{{ user }}</small></h1>
    </div>
{% endblock %}

{% block content %}
    <ul>
        <li>
            <a href="{% url profiles_profile_detail username=user.username %}">View Profile</a>
        </li>
        <li>
            <a href="{% url profiles_profile_edit %}">Edit Profile</a>
        </li>
        <li>
            <a href="{% url auth_password_change %}">Change Password</a>
        </li>
        <li>
            <a href="{% url auth_logout %}">Log Out</a>
        </li>
    </ul>
{% endblock %}
