{% extends "base.html" %}

{% block title %}{{ set|title }} &#xb7; {{ site.name }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url index %}">Home</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url set_list %}">Sets</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            <a href="{{ set.get_absolute_url }}">{{ set|title }}</a>
        </li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>{{ set|title }}</h1>
    </div>
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Color</th>
                <th>Rarity</th>
            </tr>
        </thead>

        <tbody>
            {% for printing in set.printing_set.all %}
                <tr>
                    <td>{{ printing.number }}</td>
                    <td>
                        <a href="{{ printing.get_absolute_url }}">{{ printing.card.name|title }}</a>
                    </td>
                    <td>
                        {% for color in printing.card.colors.all %}
                            <span class="badge {{ color }}" title="{{ color.name|title }}">{{ color.slug|upper }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        <span class="badge {{ printing.rarity.slug }}" title="{{ printing.rarity.name|title }}">{{ printing.rarity.slug|upper }}</span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
