{% extends "base.html" %}

{% block title %}Sets &#xb7; {{ site.name }}{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>Sets</h1>
    </div>
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Release Date</th>
                <th>Size</th>
            </tr>
        </thead>

        <tbody>
            {% for set in object_list %}
                <tr>
                    <td>
                        <a href="{{ set.get_absolute_url }}">{{ set|title }}</a>
                    </td>
                    <td>{{ set.release_date }}</td>
                    <td>{{ set.printing_set.all|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
