{% extends "base.html" %}

{% load title from magic_extras %}

{% block title %}Sets &#xb7; {{ site.name }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url index %}">Home</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            <a href="{% url set_list %}">Sets</a>
        </li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>Sets</h1>
    </div>
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Release Date</th>
            </tr>
        </thead>

        <tbody>
            {% for set in object_list %}
                <tr>
                    <td>
                        <a href="{{ set.get_absolute_url }}">{{ set|title }}</a>
                    </td>
                    <td>{{ set.release_date|date:"F j, Y" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
