{% spaceless %}

{% load compress %}

<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <meta content="maximum-scale=1,minimum-scale=1,width=device-width" name="viewport">

        {% compress css %}
            <link href="{{ STATIC_URL }}css/bootstrap-2.1.1.css" rel="stylesheet">
            <link href="{{ STATIC_URL }}css/bootstrap-responsive-2.1.1.css" rel="stylesheet">
            <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
        {% endcompress %}

        <link href="{{ STATIC_URL }}img/favicon.ico" rel="shortcut icon">
        <link href="{{ STATIC_URL }}img/apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
        <link href="{{ STATIC_URL }}img/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
        <link href="{{ STATIC_URL }}img/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
        <link href="{{ STATIC_URL }}img/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

        <title>{% block title %}{{ site.name }}{% endblock %}</title>
    </head>

    <body>
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                    </a>

                    {% url index as index_url %}
                    <a class="brand" href="{{ index_url }}">{{ site.name }}</a>

                    <div class="pull-right" id="user">
                        {% if user.is_authenticated %}
                            {% url profile as profile_url %}
                            <a class="btn" href="{{ profile_url }}"><i class="icon-user"></i> {{ user.profile }}</a>
                        {% else %}
                            {% url auth_login as auth_login_url %}
                            <a class="btn" href="{{ auth_login_url }}">Log In</a>
                        {% endif %}
                    </div>

                    <div class="nav-collapse">
                        <ul class="nav">
                            {% url card_list as card_list_url %}
                            <li {% if request.get_full_path == card_list_url %}class="active"{% endif %}>
                                <a href="{{ card_list_url }}">Cards</a>
                            </li>

                            {% url set_list as set_list_url %}
                            <li {% if request.get_full_path == set_list_url %}class="active"{% endif %}>
                                <a href="{{ set_list_url }}">Sets</a>
                            </li>

                            {% url deck_list as deck_list_url %}
                            <li {% if request.get_full_path == deck_list_url %}class="active"{% endif %}>
                                <a href="{{ deck_list_url }}">Decks</a>
                            </li>

                            <li class="divider-vertical"></li>
                        </ul>

                        {% url search as search_url %}
                        <form action="{{ search_url }}" class="navbar-search" method="get">
                            <input class="search-query" name="query" placeholder="Search" type="text" value="{{ request.GET.query }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            {% block messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        <a class="close" data-dismiss="alert">&#xd7;</a>
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endblock %}

            {% block breadcrumbs %}
                <ul class="breadcrumb">
                    <li class="active">
                        {% url index as index_url %}
                        <a href="{{ index_url }}">Home</a>
                    </li>
                </ul>
            {% endblock %}

            {% block header %}
                <div class="page-header">
                    <h1>{{ site.name }}</h1>
                </div>
            {% endblock %}

            {% block content %}
            {% endblock %}

            <div class="footer">
                <p class="pull-right">
                    {% if debug %}
                        <a href="{% url admin:index %}">Admin</a>
                        <span> &#xb7; </span>
                    {% endif %}

                    <a href="#">Back to top</a>
                </p>

                <p>Powered by <a href="https://github.com/tfausak/bauble">Bauble</a>.</p>

                <p>This web site is not affiliated with, endorsed, sponsored, or specifically approved by Wizards of the Coast. Magic: The Gathering is a trademark of Wizards of the Coast.</p>

                <p>Icons from <a href="http://glyphicons.com/">Glyphicons Free</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
            </div>
        </div>

        {% compress js %}
            <script src="{{ STATIC_URL }}js/jquery-1.8.2.js"></script>
            <script src="{{ STATIC_URL }}js/bootstrap-2.1.1.js"></script>
            <script src="{{ STATIC_URL }}js/main.js"></script>
        {% endcompress %}
    </body>
</html>
{% endspaceless %}
