{% spaceless %}
<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <meta content="maximum-scale=1,minimum-scale=1,width=device-width" name="viewport">

        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bauble.css" rel="stylesheet">

        <title>{% if title %}{{ title }} &#xb7; {% endif %}Bauble</title>
    </head>

    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                    </a>

                    <h1>
                        <a class="brand" href="{% url index %}">Bauble</a>
                    </h1>

                    <div class="nav-collapse">
                        <ul class="nav">
                            <li>
                                <a href="{% url card_list %}">Cards</a>
                            </li>
                        </ul>

                        <form action="{% url search %}" class="navbar-search pull-right" method="get">
                            <input class="search-query" name="query" placeholder="Search" type="text" value="{{ query }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            {% block content %}
            {% endblock %}

            <footer class="footer">
                {% if debug %}
                    <p class="pull-right">
                        <a href="/admin/">Admin</a>
                    </p>
                {% endif %}

                <p>Powered by <a href="https://github.com/tfausak/bauble">Bauble</a>.</p>
                <p>This web site is not affiliated with, endorsed, sponsored, or specifically approved by Wizards of the Coast LLC. Magic: The Gathering is a trademarks of Wizards of the Coast.</p>
                <p>Icons from <a href="http://glyphicons.com">Glyphicons Free</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
            </footer>
        </div>

        <script async src="/static/js/jquery.js"></script>
        <script async src="/static/js/bootstrap.js"></script>
        <script async src="/static/js/bauble.js"></script>
    </body>
</html>
{% endspaceless %}
