<!doctype html>

<html>
    <head>
        <meta charset="utf-8">

        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bauble.css" rel="stylesheet">

        <title>Bauble</title>
    </head>

    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <h1>
                        <a class="brand" href="/">Bauble</a>
                    </h1>
                </div>
            </div>
        </div>

        <div class="container">
        </div>

        <script async src="/static/js/jquery.js"></script>
        <script async src="/static/js/bootstrap.js"></script>
        <script async src="/static/js/bauble.js"></script>
    </body>
</html>
