{% extends "base.html" %}

{% block title %}User &#xb7; {{ site.name }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url index %}">Home</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url profiles_profile_list %}">Users</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            <a href="{% url profiles_profile_detail profile.user.username %}">{{ profile }}</a>
        </li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>User <small>{{ profile }}</small></h1>
    </div>
{% endblock %}

{% block content %}
    <dl>
        <dt>First name</dt>
        <dd>{{ profile.user.first_name }}</dd>

        <dt>Last name</dt>
        <dd>{{ profile.user.last_name }}</dd>

        <dt>Decks</dt>
        <dd>
            <ul>
                {% for deck in profile.user.deck_set.all %}
                    <li>
                        <a href="{{ deck.get_absolute_url }}">{{ deck }}</a>
                    </li>
                {% endfor %}
            </ul>
        </dd>
    </dl>

    {% if profile.user == user %}
        <a class="btn" href="{% url profiles_edit_profile %}"><i class="icon-pencil"></i> Edit Your Profile</a>
    {% endif %}
{% endblock %}
